body {
    font-family: "Cantarell";
    text-align: center;
    background-color: #f0f8ff;
    padding: 20px;
}
h1 {
    color:#061c40;
}
/*personatges-c1 {*/
/*    font-size: 20px;*/
/*}*/
#regles {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
    color: #061c40;
    border-radius: 10px;
}

#escenari {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.riba {
    width: 30%;
    min-height: 200px;
    background-image: url("fondoarena.png");
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #6f2d11;
    border-style: solid;
}

#zona-barca {
    width: 30%;
    min-height: 150px;
    background-image: url("fondomar.png");
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-width: 2px;
    border-color: #003b4f;
    border-style: solid;
}

button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    font-size:30px;
}

button:hover {
    background-color: #eee;
}

#panell-missatges {
    margin-top: 30px;
    padding: 15px;
    background: #333;
    color: #fff;
    border-radius: 5px;
}